<!-- Header -->
<header id="header" class="alt">
	<span class="logo"><%= image_tag("logo.png", alt: "logo") %></span>
	<h1>Traveller<span style="font-weight:400;">Stash</span></h1>
	<p>This website is a simple way to keep up with the latest<br>technologies and trends in term of travel technology.</p>
</header>
