<!-- Header -->
<header id="header" class="alt">
	<span class="logo"><%= image_tag("logo.png", alt: "logo") %></span>
	<h1>Traveller<span style="font-weight:400;">Stash</span></h1>
	<p>Traveller Stash is the easiest way to find resources and tools<br> that can help you while planning your next trip.</p>
</header>
