<!-- Nav -->
<nav id="nav">
	<a href="/"><p style="float:left;"> Traveller<span style="font-weight:400;">Stash</span></p></a>
		<ul>
			<li><%= link_to "ABOUT US", welcome_about_path, class: "active" %></li>			
      <div class="dropdown">
        <li><a href="/" class="active">CATEGORIES</a></li>
        <div class="dropdown-content">
          <a href="/flighthacks/skyscanner">Flight Hacks</a>
          <a href="/hotelbooking/hot_hotels">Hotel Booking</a>
          <a href="/multimodalsearch/waymate">Multimodal Search</a>
          <a href="/carrental/relayrides">Car Rental</a>
          <a href="/afterbooking/seat_guru">After Booking</a>
          <a href="/packages/travelbird">Packages</a>
          <a href="/ridesharing/blablacar">Ride Sharing</a>
          <a href="/vacationrental/airbnb">Vacation Rental</a>
          <a href="/backpackers/poshpacker">Backpackers Accommodation</a>
          <a href="/inspiration/wayn">Inspiration</a>
          <a href="/guides/tripadvisor">Guides</a>
          <a href="/businesstravel/rocketrip">Business Travel</a>
          <a href="/loyaltyprograms/rocket_miles">Loyalty Programs</a>
          <a href="/travelafrica/sleepout">Travel Africa</a>
          <a href="/planners/tripcake">Planners</a>
        </div>
      </div>					
			<li><a href="https://pie2re.typeform.com/to/MoEgos"><u>SUBMIT</u></a></li>
		</ul>
</nav>